@model Client_orders.DATA.Client

@{
    ViewData["Title"] = "CreateClient";
}

<h1>CreateClient</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inn" class="control-label"></label>
                <input asp-for="Inn" class="form-control" id="INN" onkeyup="this.style.backgroundColor = is_valid_inn(this.value) ? '#dfd' : '#fdd'"/>
                <span asp-validation-for="Inn" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" onkeyup=""/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    // Функция для проверки правильности ИНН
    function is_valid_inn(i) {
        if (i.match(/\D/)) return false; 

        var inn = i.match(/(\d)/g);

        if (inn.length == 10) {
            return inn[9] == String(((
                2 * inn[0] + 4 * inn[1] + 10 * inn[2] +
                3 * inn[3] + 5 * inn[4] + 9 * inn[5] +
                4 * inn[6] + 6 * inn[7] + 8 * inn[8]
            ) % 11) % 10);
        }
        else if (inn.length == 12) {
            return inn[10] == String(((
                7 * inn[0] + 2 * inn[1] + 4 * inn[2] +
                10 * inn[3] + 3 * inn[4] + 5 * inn[5] +
                9 * inn[6] + 4 * inn[7] + 6 * inn[8] +
                8 * inn[9]
            ) % 11) % 10) && inn[11] == String(((
                3 * inn[0] + 7 * inn[1] + 2 * inn[2] +
                4 * inn[3] + 10 * inn[4] + 3 * inn[5] +
                5 * inn[6] + 9 * inn[7] + 4 * inn[8] +
                6 * inn[9] + 8 * inn[10]
            ) % 11) % 10);
        }

        return false; 
    }
</script>